
<div class="container">

  <div class="row justify-content-center">
      <div class="col-6">
        <div class="card">
          <img class="card-img-top" alt="Card image cap" src="https://secureimg.stitcher.com/feedimagesplain328/190254.jpg">
          <div class="card-body">
            <h2 class="card-title">Voici la page du potin n°<%= params['id'] %></h2>
            <br>
            <p><strong>L'auteur : </strong><a href="<%= user_path(@gossip.user.id) %>"><%=@gossip.user.first_name %></a></p>
            <p><strong>Le titre : </strong><%= @gossip.title %></p>
            <p><strong>Le contenu du potin : </strong><%= @gossip.content %></p>
            <p><strong>Créé le : </strong><%=@gossip.created_at.strftime("%d/%m/%Y à %H:%I") %></p>
            <p><strong>La ville de l'auteur : </strong><a href="<%= city_path(@gossip.user.city.id) %>"><%=@gossip.user.city.name %></a></p>
          </div>
          <div class="row justify-content-center">
            <div class="row justify-content-center">
              <div class="col m-2">
                <a href="<%= edit_gossip_path %>" class="btn btn-warning">Modifier</a>
              </div>
              <div class="col m-2">
                <a href="<%= gossip_path(@gossip.id) %>"
                   class="btn btn-danger"
                   data-confirm="Etes-vous sûr de vouloir supprimer ?"
                   data-method="DELETE">
                  Supprimer
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

